#encabezado-agente {
    padding: 20px;
    font-family: Arial;
}

#contenido-agente {
    padding: 20px;
    font-family: Arial;
    background-color: whitesmoke;
}

#pie-agente {
    padding: 20px;
    font-family: Arial;
    text-align: center;
    color: gray;
}

h1 {
    font-size: 40px;
    color: darkblue;
}

#menu-agente {
    display: flex;
    justify-content: space-around;
    border: 1px solid gray;
}

#menu-agente a {
    padding: 10px;
    color: darkblue;
}

@media(max-width:768px) {
    #menu-agente {
        display: block;
    }

    #menu-agente a {
        display: block;
    }
}