<section id="seccion-eventos-registrados">
  <h2>Eventos registrados</h2>

  <table border="1" id="tabla-eventos-registrados">
    <thead>
      <tr>
        <th>Código</th>
        <th>Nombre</th>
        <th>Teatro</th>
        <th>Ciudad</th>
        <th>Inicio</th>
        <th>Capacidad</th>
        <th>Precio base</th>
        <th>Estado</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>EV-001</td>
        <td>Concierto de rock</td>
        <td>Teatro Municipal</td>
        <td>Cali</td>
        <td>2026-11-15 20:00</td>
        <td>500</td>
        <td>$ 80.000</td>
        <td class="estado-en-boleteria">En Boletería</td>
      </tr>
      <tr>
        <td>EV-002</td>
        <td>Festival de teatro</td>
        <td>Teatro Gran Rex</td>
        <td>Tuluá</td>
        <td>2026-12-02 19:00</td>
        <td>300</td>
        <td>$ 45.000</td>
        <td class="estado-programado">Programado</td>
      </tr>
      <tr>
        <td>EV-003</td>
        <td>Festival de jazz</td>
        <td>Teatro Colón</td>
        <td>Bogotá</td>
        <td>2026-10-20 18:00</td>
        <td>400</td>
        <td>$ 60.000</td>
        <td class="estado-cancelado">Cancelado</td>
      </tr>
    </tbody>
  </table>
</section>